.card-container {
  min-height: 12rem;
}

.description-body{
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}